# MongoDB Source
MONGODB_SOURCE_URI=mongodb://127.0.0.1:27017/
MONGODB_SOURCE_DATABASE=source_db
MONGODB_SOURCE_COLLECTION=source_collection

# MongoDB Embeddings
MONGODB_EMBEDDINGS_URI=mongodb://127.0.0.1:27017/
MONGODB_EMBEDDINGS_DATABASE=embeddings_db
MONGODB_EMBEDDINGS_COLLECTION=embeddings_collection

# Embedding Model Configuration
EMBEDDINGS_API_URL=http://127.0.0.1:11434/api/embed
EMBEDDINGS_MODEL=nomic-embed-text
EMBEDDINGS_VECTOR_SIZE=576

# Solr Configuration
SOLR_EMBEDDINGS_URL=http://127.0.0.1:8983
SOLR_EMBEDDINGS_COLLECTION=embeddings
SOLR_BATCH_SIZE=100

