APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEFAULT_TOP_K=10
APP_MAX_TOP_K=50
APP_LOG_LEVEL=INFO

SOLR_BASE_URL=http://host.docker.internal:8983/solr
SOLR_COLLECTION=embeddings
SOLR_VECTOR_FIELD=vector
SOLR_TITLE_FIELD=ti
SOLR_ID_FIELD=id
SOLR_RECORD_ID_FIELD=record_id
SOLR_MODEL_FIELD=model
SOLR_KEYWORD_QF=ti
SOLR_TIMEOUT_SECONDS=20

EMBEDDINGS_API_URL=http://host.docker.internal:11434/api/embed
EMBEDDINGS_MODEL=nomic-embed-text
EMBEDDINGS_VECTOR_SIZE=768
EMBEDDINGS_TIMEOUT_SECONDS=30
